body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    position: absolute;
    text-align: justify;
    font-size: 1rem;
}

.heart{
    font-size: 10rem;
    animation: heart .5s infinite alternate linear;
    position: relative;
    left: 80px;
}

@keyframes heart {
    from{
        transform: scale(.7);
    }
    to{
        transform: scale(1); 
    }
}