body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.heart{
    font-size: 10rem;
    animation: heart .5s infinite alternate linear;
    margin-top: 30px;
}

@media (max-width: 768px){
    .container{
        width: 90%;
    }

    .heart{
        font-size: 5rem;
        margin-top: 20px;
    }
}

@media (max-width: 480px){
    .container{
        width: 100%;
    }

    .heart{
        font-size: 5rem;
        margin-top: 10px;
    }
}

@keyframes heart {
    from{
        transform: scale(.7);
    }
    to{
        transform: scale(1); 
    }
}